<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.ivansadovyi.onefeed">

	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:name=".OneFeedApplication"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="GoogleAppIndexingWarning">

		<activity
			android:name=".presentation.screens.feed.FeedActivity"
			android:launchMode="singleTask">

		</activity>

		<activity
			android:name=".presentation.screens.pluginAuthorizaton.PluginAuthorizationActivity"
			android:label="@string/plugin_authorization_screen_title"
			android:parentActivityName=".presentation.screens.feed.FeedActivity"
			android:theme="@style/AppTheme.NonBranded">

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".presentation.screens.feed.FeedActivity" />
		</activity>

		<activity
			android:name=".presentation.screens.feedItemDetails.FeedItemDetailsActivity"
			android:parentActivityName=".presentation.screens.feed.FeedActivity">

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".presentation.screens.feed.FeedActivity" />
		</activity>

		<activity
			android:name=".presentation.screens.initialSetup.InitialSetupActivity"
			android:theme="@style/AppTheme.InitialSetup">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".presentation.screens.initialSetup.InstagramAuthorizationActivity"
			android:label="@string/authorize_instagram"
			android:parentActivityName=".presentation.screens.feed.FeedActivity"
			android:theme="@style/AppTheme.NonBranded">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".presentation.screens.feed.FeedActivity" />
		</activity>

		<activity
			android:name=".presentation.screens.likedItems.LikedItemsActivity"
			android:label="@string/liked_title" />

		<activity android:name=".presentation.screens.accounts.AccountsActivity"
			android:label="@string/accounts_title" />
	</application>
</manifest>